Repository leosuncin/onesignal-api-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -p ., git add -u

.lintstagedrc:

{
  "*.js": ["prettier --write", "tslint -p .", "git add -u"],
  "*.json": ["prettier --write", "git add -u"]
}

ci(release): Run semantic-release after all tests pass
  .travis.yml
Due: none

chore(git): Add commitlint for lint commit's message
  .commitlintrc.json
  package-lock.json
  package.json
Due: prettier --write, git add -u

chore(git): Add commitizen for ensure commit's message structure
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Due: prettier --write, git add -u

Update README.md
  README.md
Due: none

Type check parameters for send a notification
  lib/Client.spec.ts
  lib/Client.ts
  lib/api/IFilter.ts
  lib/api/INotification.ts
  lib/api/sendNotification.spec.ts
  lib/api/sendNotification.ts
  lib/interfaces/common/IAndroidBackground.ts
  lib/interfaces/common/IMap.ts
  lib/interfaces/common/Ii18n.ts
  lib/interfaces/notification/IActionButtons.ts
  lib/interfaces/notification/IAppearance.ts
  lib/interfaces/notification/IAttachments.ts
  lib/interfaces/notification/ICommon.ts
  lib/interfaces/notification/IContent.ts
  lib/interfaces/notification/IDelivery.ts
  lib/interfaces/notification/IDevices.ts
  lib/interfaces/notification/IFilters.ts
  lib/interfaces/notification/IGroup.ts
  lib/interfaces/notification/IPlatform.ts
  lib/interfaces/notification/ISegments.ts
  lib/interfaces/notification/button/IAction.ts
  lib/interfaces/notification/button/IWeb.ts
  lib/interfaces/notification/button/index.ts
  lib/interfaces/notification/filter/IAmount.ts
  lib/interfaces/notification/filter/IAppVersion.ts
  lib/interfaces/notification/filter/IBought.ts
  lib/interfaces/notification/filter/IEmail.ts
  lib/interfaces/notification/filter/ILang.ts
  lib/interfaces/notification/filter/ILocation.ts
  lib/interfaces/notification/filter/IOperator.ts
  lib/interfaces/notification/filter/ISessionCount.ts
  lib/interfaces/notification/filter/ISessionHours.ts
  lib/interfaces/notification/filter/ISessionTime.ts
  lib/interfaces/notification/filter/ITag.ts
  lib/interfaces/notification/filter/index.ts
  lib/interfaces/notification/index.ts
Due: none

Fix build issue when compile to es5 target
  tsconfig.json
Due: prettier --write, git add -u

Lint the whole project and run tests before "git push"
  package.json
Due: prettier --write, git add -u

Test if dependencies are called with the correct parameters
  test/Client.spec.ts
Due: none

Change Code Climate send test coverage
  .travis.yml
Due: none

Use rollup to build typescript for publish version
  .gitignore
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, tslint -p ., git add -u

Test if API client can send create notification request
  lib/Client.spec.ts
  package-lock.json
  package.json
Due: prettier --write, git add -u

Update Travis configuration
  .gitignore
  .travis.yml
Due: none

Update Istanbul configuration to check coverage
  .nycrc
Due: none

build: Use semantic-release for automatic release and publish
  .npmignore
  README.md
  package-lock.json
  package.json
Due: prettier --write, git add -u

Update instanbul configuration
  .nycrc
Due: none

Set `included_segments` as required for create notifications
  lib/api/INotification.ts
Due: none

0.2.0
  package.json
Due: prettier --write, git add -u

0.1.0
  package.json
Due: prettier --write, git add -u

Update tslint configuration
  .lintstagedrc
  .travis.yml
  .vscode/tasks.json
  package-lock.json
  package.json
  tslint.json
Due: prettier --write, git add -u

Move test files
  package.json
  test/Client.spec.ts
  test/api/sendNotification.spec.ts
  test/mocha.opts
Due: prettier --write, git add -u

Update vscode launch settings
  .vscode/launch.json
Due: prettier --write, git add -u

Fix issue when build for Node.js lts/argon
  tsconfig.json
Due: prettier --write, git add -u

Cancel a scheduled or currently outgoing notification through OneSignal API
  lib/Client.ts
  lib/api/cancelNotification.ts
  lib/api/index.ts
  lib/interfaces/notification/IDelivery.ts
  test/Client.spec.ts
  test/api/cancelNotification.spec.ts
Due: none

Update .travis.yml
  .travis.yml
Due: none

Add suport for send notifications through OneSignal API
  lib/Client.ts
  lib/api/IFilter.ts
  lib/api/INotification.ts
  lib/api/index.ts
  lib/api/sendNotification.ts
  lib/values/BASE_URL.ts
  lib/values/index.ts
Due: none

chore(npm): Update dependencies
  package-lock.json
  package.json
Due: prettier --write, git add -u

Test if notification's content have an english language
  lib/interfaces/notification/IContent.ts
  test/api/sendNotification.spec.ts
Due: none

chore(lockfile): update lock file
  package-lock.json
Due: prettier --write, git add -u

chore(git): update commitlint config file
  .commitlintrc.json
  package-lock.json
  package.json
Due: prettier --write, git add -u

ci(greenkeeper): setup greenkeeper-lockfile
  .travis.yml
Due: none

fix(package): set rollup version to ^0.50.0 due to issue with rollup-plugin-typescript2's peerDep
  package.json
Due: prettier --write, git add -u

chore(git): Update commitlint rules
  .commitlintrc.json
  package-lock.json
  package.json
Due: prettier --write, git add -u

chore(lockfile): update lock files
  npm-shrinkwrap.json
  package-lock.json
  package.json
Due: prettier --write, git add -u

chore(package): update lockfile
  npm-shrinkwrap.json
  package-lock.json
Due: prettier --write, git add -u
