Repository leosuncin/onesignal-api-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -p ., git add -u

Notes added by 'git notes add'
  06d3c03292c593dbedb39e9a379678af9ff9e93c
Due: none

Add Visual Studio Code project configurations
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier --write, git add -u

Disable Eslint on this project
  .vscode/settings.json
Due: prettier --write, git add -u

Set `baseUrl` for use absolute paths on import
  tsconfig.json
Due: prettier --write, git add -u

Add Mocha support for absolute paths
  mocha.opts
  package-lock.json
  package.json
Due: prettier --write, git add -u

Add test case for send notifications
  lib/api/sendNotification.spec.ts
  lib/values/SERVER_URL.ts
Due: none

Test if API key is included on request headers when send notifications
  lib/api/sendNotification.spec.ts
Due: none

Setup Travis CI
  .travis.yml
Due: none

Notes added by 'git notes add'
  481fe1da62e5eefcfd08255249657f50e2b4fc47
Due: none

Notes added by 'git notes edit'
  481fe1da62e5eefcfd08255249657f50e2b4fc47
Due: none

Notes added by 'git notes add'
  4734f3b8214e4756142ea125b74437921c89204f
Due: none

Notes added by 'git notes add'
  7a3f876e130a156227cb4208af82bb237c828053
Due: none

Test if API client can send create notification request
  lib/Client.spec.ts
  package-lock.json
  package.json
Due: prettier --write, git add -u

Notes added by 'git notes add'
  aeb878cfc380b03a9e211074495f24bc25c472fe
Due: none

Notes added by 'git notes add'
  211b3add1a6b2c3759e73946de3972eda95bd05b
Due: none

Update tslint configuration
  .lintstagedrc
  .travis.yml
  .vscode/tasks.json
  package-lock.json
  package.json
  tslint.json
Due: prettier --write, git add -u

Notes added by 'git notes add'
  8fe11090e6f8a4f13bf25cfe20c3342a6d622f83
Due: none

Update Travis configuration
  .gitignore
  .travis.yml
Due: none

Add suport for send notifications through OneSignal API
  lib/Client.ts
  lib/api/IFilter.ts
  lib/api/INotification.ts
  lib/api/index.ts
  lib/api/sendNotification.ts
  lib/values/BASE_URL.ts
  lib/values/index.ts
Due: none

Notes added by 'git notes add'
  4159b4c831e87b214bbf9df1955ced84a0fd2c21
Due: none

Fix issue when build for Node.js lts/argon
  tsconfig.json
Due: prettier --write, git add -u

Fix build issue when compile to es5 target
  tsconfig.json
Due: prettier --write, git add -u

Update README.md
  README.md
Due: none

Set `included_segments` as required for create notifications
  lib/api/INotification.ts
Due: none

Update instanbul configuration
  .nycrc
Due: none

Change Code Climate send test coverage
  .travis.yml
Due: none

Type check parameters for send a notification
  lib/Client.spec.ts
  lib/Client.ts
  lib/api/IFilter.ts
  lib/api/INotification.ts
  lib/api/sendNotification.spec.ts
  lib/api/sendNotification.ts
  lib/interfaces/common/IAndroidBackground.ts
  lib/interfaces/common/IMap.ts
  lib/interfaces/common/Ii18n.ts
  lib/interfaces/notification/IActionButtons.ts
  lib/interfaces/notification/IAppearance.ts
  lib/interfaces/notification/IAttachments.ts
  lib/interfaces/notification/ICommon.ts
  lib/interfaces/notification/IContent.ts
  lib/interfaces/notification/IDelivery.ts
  lib/interfaces/notification/IDevices.ts
  lib/interfaces/notification/IFilters.ts
  lib/interfaces/notification/IGroup.ts
  lib/interfaces/notification/IPlatform.ts
  lib/interfaces/notification/ISegments.ts
  lib/interfaces/notification/button/IAction.ts
  lib/interfaces/notification/button/IWeb.ts
  lib/interfaces/notification/button/index.ts
  lib/interfaces/notification/filter/IAmount.ts
  lib/interfaces/notification/filter/IAppVersion.ts
  lib/interfaces/notification/filter/IBought.ts
  lib/interfaces/notification/filter/IEmail.ts
  lib/interfaces/notification/filter/ILang.ts
  lib/interfaces/notification/filter/ILocation.ts
  lib/interfaces/notification/filter/IOperator.ts
  lib/interfaces/notification/filter/ISessionCount.ts
  lib/interfaces/notification/filter/ISessionHours.ts
  lib/interfaces/notification/filter/ISessionTime.ts
  lib/interfaces/notification/filter/ITag.ts
  lib/interfaces/notification/filter/index.ts
  lib/interfaces/notification/index.ts
Due: none

Lint the whole project and run tests before "git push"
  package.json
Due: prettier --write, git add -u

Move test files
  package.json
  test/Client.spec.ts
  test/api/sendNotification.spec.ts
  test/mocha.opts
Due: prettier --write, git add -u

Use rollup to build typescript for publish version
  .gitignore
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write, tslint -p ., git add -u

0.1.0
  package.json
Due: prettier --write, git add -u

Cancel a scheduled or currently outgoing notification through OneSignal API
  lib/Client.ts
  lib/api/cancelNotification.ts
  lib/api/index.ts
  lib/interfaces/notification/IDelivery.ts
  test/Client.spec.ts
  test/api/cancelNotification.spec.ts
Due: none

0.2.0
  package.json
Due: prettier --write, git add -u

Update .travis.yml
  .travis.yml
Due: none

Update vscode launch settings
  .vscode/launch.json
Due: prettier --write, git add -u

Test if dependencies are called with the correct parameters
  test/Client.spec.ts
Due: none

Update Istanbul configuration to check coverage
  .nycrc
Due: none

chore(git): Add commitizen for ensure commit's message structure
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Due: prettier --write, git add -u

chore(git): Add commitlint for lint commit's message
  .commitlintrc.json
  package-lock.json
  package.json
Due: prettier --write, git add -u

build: Use semantic-release for automatic release and publish
  .npmignore
  README.md
  package-lock.json
  package.json
Due: prettier --write, git add -u

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.json)
  tslint -p .: any of: *.js
  git add -u: (any of: *.js) or (any of: *.json)
